  <details class="relative z-10">
    <summary class="cursor-pointer rounded-full p-2 bg-neutral-50">
      <span class="material-symbols-outlined">Меню</span>
    </summary>
    <div class="absolute right-0 mt-2 w-48 bg-neutral-50 rounded-md shadow-md p-2">
      <ul>
        <li class="py-1 px-2 hover:bg-gray-200 rounded-md">Profile</li>
        <li class="py-1 px-2 hover:bg-gray-200 rounded-md">Settings</li>
        <li class="py-1 px-2 hover:bg-gray-200 rounded-md">Logout</li>
      </ul>
    </div>
  </details>
  <div class="flex items-center">
    
    <img src="https://tools-api.webcrumbs.org/image-placeholder/40/40/logo/1" alt="Logo" class="object-cover h-[40px] w-[40px]"/>
    <h1 class="text-2xl font-title text-neutral-50 ml-2">Мой путь</h1>
  </div>